/* ========== project custom stylesheets =============== */

/*========== google fonts [Poppins] =======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* ==== variables ===== */
:root {
    --poppins: 'Poppins', sans-serif;
    --primary-color: #0caf5dee;
}

body {
    font-family: var(--poppins);
    font-size: 16px;
}

/*======= custom classes ===== */
.cursor-pointer {
    cursor: pointer;
}

.font-poppins {
    font-family: var(--poppins);
}

.bg-primary-alt {
    background: var(--primary-color);
}

.text-primary-alt {
    color: var(--primary-color);
}

/* ======== some custom style ======== */
.search-field {
    width: min(100%, 500px);
    margin-inline: auto;
    padding: .4rem;
    border-radius: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.081);
    flex-wrap: wrap;
}

.search-field input {
    border: none;
    outline: none;
    width: 70%;
    padding: 0rem 1rem;
}

.search-field button {
    background: var(--primary-color);
    border: none;
    outline: none;
    padding: .6rem 1.2rem;
    font-size: 1rem;
    border-radius: 40px;
    width: 30%;
}

@media (max-width: 360px) {
    .search-field{
        border-radius: 0px;
    }
    .search-field input{
        width: 100%;
        padding: 1rem;
    }
    .search-field button {
        width: 100%;
    }
}

.others span {
    padding: .4rem;
    background: #f0f0f0;
    border-radius: 3px;
    display: inline-block;
    margin: .2rem;
}

#preloader{
    display: none;
}
#tiny-message{
    display: none;
}